/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,600,700');
// Global vendors
@import '~bootstrap/dist/css/bootstrap.css';
// => Material
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@import '~highlight.js/styles/googlecode.css';
@import '~perfect-scrollbar/css/perfect-scrollbar.css';

// Global fonts
@import '~socicon/css/socicon.css';
@import '~@fortawesome/fontawesome-free/css/all.min.css';
@import '~@fortawesome/fontawesome-pro/css/all.min.css';
@import './assets/plugins/flaticon/flaticon.css';
@import './assets/plugins/flaticon2/flaticon.css';
@import './assets/plugins/keenthemes-icons/font/ki.css';

// Metronic styles (replace these path when using RTL css below)
@import './assets/sass/style.angular.scss';

// For RTL, check this documentation https://keenthemes.com/metronic/?page=docs&section=angular-rtl
// @import "./assets/sass/style.angular.rtl.css";

// Default Layout themes
@import './assets/sass/themes/layout/header/base/light.scss';
@import './assets/sass/themes/layout/header/menu/light.scss';
@import './assets/sass/themes/layout/brand/dark.scss';
@import './assets/sass/themes/layout/aside/dark.scss';

// Custom dark theme
@import './dark-theme.scss';

// Header themes
.header-base-light {
  @import './assets/sass/themes/layout/header/base/light.scss';
}

.header-base-dark {
  @import './assets/sass/themes/layout/header/base/dark.scss';
}

// Header Menu themes
.header-menu-light {
  @import './assets/sass/themes/layout/header/menu/light.scss';
}
.header-menu-dark {
  @import './assets/sass/themes/layout/header/menu/dark.scss';
}

// Brand themes
.brand-dark {
  @import './assets/sass/themes/layout/brand/dark.scss';
}

.brand-light {
  @import './assets/sass/themes/layout/brand/light.scss';
}

// Aside themes
.aside-dark {
  @import './assets/sass/themes/layout/aside/dark.scss';
}

.aside-light {
  @import './assets/sass/themes/layout/aside/light.scss';
}

// hide bootstrap dropdown arrow globally
.dropdown-toggle::after {
  display: none !important;
}

.cursor-pointer {
  cursor: pointer;
}

.text-inherit {
  color: inherit !important;
}

.text-black {
  color: black !important;
}

.mat-snack-bar-container.bg-success .mat-simple-snackbar .mat-simple-snackbar-action,
.mat-snack-bar-container.bg-danger .mat-simple-snackbar .mat-simple-snackbar-action {
  color: white !important;
}

.laforge-card {
  width: 100%;
}

.laforge-card-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;

  .laforge-card {
    flex: 1 1 0;
    min-width: 33%;
    box-sizing: border-box;
    margin: 0.5rem 1rem;
  }
}
