{{ define "remote_file" }}
resource "null_resource" "provision_{{ .Get "resource_name" }}_step{{ .Get "step_number" }}_upload" {
  triggers {
    instance_id = "${aws_instance.{{ .Get "resource_name" }}.id}"
  }

  depends_on = [
    "{{ .Get "depends_on" }}"
  ]

  {{ $filename := .RemoteFile.AssetName }}

  provisioner "file" {
    {{ if .Host.IsWindows }}
      connection {
        host     = "${aws_instance.{{ .Get "resource_name" }}.public_ip}"
        type     = "winrm"
        user     = "Administrator"
        timeout  = "60m"
        password = "{{ .Competition.RootPassword }}"
      }
    {{ else }}
      connection {
        agent       = "false"
        host        = "${aws_instance.{{ .Get "resource_name" }}.public_ip}"
        type        = "ssh"
        user        = "root"
        timeout     = "60m"
        private_key = "${file("{{ index .Build.Config "rel_ssh_private_key_file" }}")}"
      }
    {{ end }}
    source      = "../../data/{{ $filename }}"
    destination = "{{ .RemoteFile.Destination }}"

  }
}

resource "null_resource" "provision_{{ .Get "resource_name" }}_step{{ .Get "step_number" }}" {
  triggers {
    instance_id = "${aws_instance.{{ .Get "resource_name" }}.id}"
  }

  depends_on = [
    "{{ .Get "depends_on" }}",
    "null_resource.provision_{{ .Get "resource_name" }}_step{{ .Get "step_number" }}_upload",
  ]
}

{{ end }}