<!--begin::Container-->
<div
  [ngClass]="footerContainerCSSClasses"
  class="d-flex flex-column flex-md-row align-items-center justify-content-between"
>
  <!--begin::Copyright-->
  <div class="text-dark order-2 order-md-1">
    <span class="text-muted font-weight-bold mr-2"
      >{{ currentYear }} &copy;</span
    >
    <a
      href="https://github.com/emperorcow/"
      target="_blank"
      class="text-dark-75 text-hover-primary"
      >Lucas Morris</a>
    and
    <a
      href="https://github.com/gen0cide/"
      target="_blank"
      class="text-dark-75 text-hover-primary"
      >Alex Levinson</a>
  </div>
  <!--end::Copyright-->

  <!--begin::Nav-->
  <div class="nav nav-dark">
    <a
      href="https://github.com/gen0cide/laforge/"
      target="_blank"
      class="nav-link pl-0 pr-5"
      ><i class="fab fa-github-alt"></i>&nbsp;Source Repo</a
    >
  </div>
  <!--end::Nav-->
</div>
<!--end::Container-->
