//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Override primary color variants for our Engineering TNG yellow color scheme
$primary:       									#ffbc2c;
$primary-hover:    								#ffc850;
$primary-light:    								#fcf6e8;
$primary-inverse:  								#FFFFFF;

$secondary:      									#3699FF;
$secondary-hover: 								#187DE4;
$secondary-light:   								#E1F0FF;
$secondary-inverse: 								#ffffff;

// Override warning color variants to make it more orange
$warning:       									#FC9C43;
$warning-hover:    								#FFB067;
$warning-light:    								#fff2e6;
$warning-inverse:  								#ffffff;

$layout-themes: (
	dark:  #fff4dd, // Dark theme color
	light: #fff4dd // Light theme color
);

