{{ define "dns_record" }}
provider "dns" {
  update {
    server = "{{ .Get "dns_server_resource" }}.ipv4_address"
  }
}

resource "dns_a_record_set" "provision_{{ .Get "resource_name" }}_step{{ .Get "step_number" }}" {
  zone = "{{ .DNSRecord.Zone }}."
  name = "{{ .DNSRecord.Name }}"
  addresses = [
    "{{ .DNSRecord.Value }}",
  ]
  ttl = 300
}
{{ end }}