.tasks-content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: lighten(#fff4dd, 6);

  .tasks-header {
    background-color: #fcc143;
    padding: 0.15rem 0.25rem;
    box-sizing: border-box;

    h4 {
      margin: 0;
      padding: 0;
    }
  }
}
