<div class="network" (click)="style === 'compact' && viewDetails()" [ngClass]="style">
  <div class="network-info" (click)="style !== 'compact' && viewDetails()">
    <div class="network-status-icon" [ngClass]="'bg-' + getStatusColor()">
      <i class="fal fa-network-wired"></i>
    </div>
    <div class="network-header">
      <span class="network-title"
        ><b>{{ provisionedNetwork.name }}</b></span
      >
      <span class="network-details"
        ><em>{{ provisionedNetwork.cidr }} | VDI: {{ provisionedNetwork.network.vdiVisible ? 'true' : 'false' }}</em></span
      >
    </div>
  </div>
  <div class="hosts" *ngIf="style === 'expanded' || style === 'compact'">
    <app-host
      *ngFor="let provHost of provisionedNetwork.provisionedHosts"
      [provisionedHost]="provHost"
      [status]="provHost.status"
      [style]="style"
    ></app-host>
  </div>
</div>
