<div class="step-dialog-header d-flex align-items-center">
  <div class="flex-fill network-status-icon d-flex align-items-center justify-content-start" [ngClass]="'text-' + getStatusColor()">
    <i class="fas fa-2x" [ngClass]="'fa-' + getStatusIcon()"></i>
    <h4 class="m-0">&nbsp;{{ getStatusText() }}</h4>
    <!-- <h4 class="m-0">&nbsp;{{ failedChildren ? 'Has Failed Hosts' : getStatusText() }}</h4> -->
  </div>
  <div class="flex-fill d-flex align-items-center justify-content-center">
    <h4 class="network-name m-0">#{{ data.provisioningStep.step_number }} {{ getText() }}</h4>
  </div>
  <div class="flex-fill d-flex align-items-center justify-content-end">
    <button mat-icon-button color="basic" aria-label="Close" (click)="onClose()">
      <!-- <mat-icon>undo</mat-icon> -->
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>
<hr />
<div class="row" *ngIf="getStatusText() === 'ProvStatusFailed' || getStatusText() === 'ProvStatusInProgress'">
  <div class="col-12" *ngIf="getStatusText() === 'ProvStatusFailed'">
    <p class="text-center text-danger">
      None of the agents on this network could connect. The network/hosts may still be deploying. Otherwise, please ensure this network
      deployed properly.
    </p>
  </div>
  <div class="col-12" *ngIf="getStatusText() === 'ProvStatusInProgress'">
    <p class="text-center text-warning">
      Some of the agents on this network couldn't connect. They may still be deploying. Otherwise, please ensure they deployed properly.
    </p>
  </div>
</div>
<ng-container *ngIf="agentTasks | async as _agentTasks">
  <div class="row" *ngFor="let task of _agentTasks">
    <div class="col-12">
      <p class="detail-title">
        <b>#{{ task.number }} {{ task.command }}</b>
      </p>
      <mat-table [dataSource]="[task]" class="bg-gray-100">
        <ng-container matColumnDef="args">
          <mat-header-cell *matHeaderCellDef> Args </mat-header-cell>
          <mat-cell *matCellDef="let t"> {{ t.args.replace('💔', ', ') }} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="state">
          <mat-header-cell *matHeaderCellDef> State </mat-header-cell>
          <mat-cell *matCellDef="let t"> {{ t.state }} </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="taskColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: taskColumns"></mat-row>
      </mat-table>
      <ng-container *ngIf="task.error_message">
        <h4 class="text-danger">Error Message:</h4>
        <pre class="pre-scrollable"><code>{{ task.error_message }}</code></pre>
      </ng-container>
      <ng-container *ngIf="task.output">
        <h4 class="text-dark">Output:</h4>
        <pre class="pre-scrollable"><code>{{ task.output }}</code></pre>
      </ng-container>
    </div>
    <!-- <div class="col-6">
      <p class="detail-title"><b>VDI Visible?</b></p>
      <p class="detail-value">{{ data.provisionedNetwork.ProvisionedNetworkToNetwork.vdi_visible ? 'yes' : 'no' }}</p>
    </div> -->
  </div>
</ng-container>
