<div class="team" [ngClass]="style">
  <div class="team-info">
    <div class="team-status-icon" [ngClass]="'bg-' + getStatusColor()">
      <i class="fal fa-users"></i>
    </div>
    <div class="team-details">
      <span class="team-number"
        ><b>Team {{ team.teamNumber }}</b></span
      >
    </div>
  </div>
  <div class="networks" *ngIf="style === 'expanded' || style === 'compact'">
    <app-network
      *ngFor="let provNetwork of team.provisionedNetworks"
      [provisionedNetwork]="provNetwork"
      [status]="provNetwork.status"
      [style]="style"
    ></app-network>
  </div>
</div>
