.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .team-info {
    width: 36rem;
    height: 4rem;
    background-color: #f5f5f5;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .team-status-icon {
      width: 4rem;
      height: 4rem;
      border-radius: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 1rem;

      i {
        color: white;
      }
    }

    .team-status-icon.success {
      background-color: #00c851;
    }

    .team-status-icon.failed {
      background-color: #ff4444;
    }

    .team-status-icon.in-progress {
      // background-color: #ffbb33;
      background-color: #33b5e5;
    }

    .team-details {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      margin-right: auto;
    }

    .team-options {
      width: 2.5rem;
      height: 2.5rem;
      border-radius: 1.25rem;
      margin-right: 0.75rem;
      background-color: #e1e1e1;
      display: flex;
      align-items: center;
      cursor: pointer;
      overflow: hidden;
      transition: all 0.3s;

      i {
        margin: 0 0.65rem;
      }

      i.restart {
        color: #fcc143;
      }
    }

    .team-options:not(.expanded):hover {
      box-shadow: 0 0 3px 0px #555555;
      transform: scale(1.05);
    }

    .team-options.expanded {
      box-shadow: 0 0 3px 0px #555555;
      transform: scale(1.05);
      width: 5rem;
    }
  }

  .networks {
    margin-left: 4rem;
    padding-top: 1rem;
    border-left: 1px solid #999999;

    ::ng-deep .network {
      margin-left: 2rem;
      margin-bottom: 1rem;
    }

    hr {
      margin: 0;
      margin-top: 1rem;
      border-bottom: 1px solid #999999;
      width: 12rem;
    }
  }
}
