.detail-title {
  font-size: 1.2rem;
}

.detail-title,
.detail-value {
  margin: 0.5rem 0;
}

.network-dialog-header {
  i {
    color: inherit !important;
  }

  button {
    cursor: pointer;
    transform: scale(0.8);
    transition: all 0.3s ease-in-out;
  }

  button:hover {
    transform: scale(0.85);
    box-shadow: 0 0 4px 2px #aaa;
  }
}

.flex-fill {
  flex-basis: 0px !important;
}
