<div class="network-dialog-header d-flex align-items-center justify-content-between">
  <div class="network-status-icon" [ngClass]="'text-' + getStatusColor()">
    <i class="fas fa-2x" [ngClass]="'fa-' + getStatusIcon()"></i>
  </div>
  <h4 class="network-name m-0">{{ data.provisionedNetwork.name }}</h4>
  <button mat-icon-button color="basic" aria-label="Close" (click)="onClose()">
    <!-- <mat-icon>undo</mat-icon> -->
    <i class="fa fa-times"></i>
  </button>
</div>
<hr />
<div class="row">
  <div class="col-6">
    <p class="detail-title"><b>CIDR</b></p>
    <p class="detail-value">{{ data.provisionedNetwork.cidr }}</p>
  </div>
  <div class="col-6">
    <p class="detail-title"><b>VDI Visible?</b></p>
    <p class="detail-value">{{ data.provisionedNetwork.network.vdiVisible ? 'yes' : 'no' }}</p>
  </div>
</div>
<div class="row">
  <div class="col-12">
    <p class="detail-title"><b>Vars</b></p>
    <mat-table [dataSource]="data.provisionedNetwork.vars" class="bg-gray-100">
      <ng-container matColumnDef="key">
        <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
        <mat-cell *matCellDef="let varMap"> {{ varMap.key }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="value">
        <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
        <mat-cell *matCellDef="let varMap"> {{ varMap.value }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="varsColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: varsColumns"></mat-row>
    </mat-table>
  </div>
  <div class="col-12">
    <p class="detail-title"><b>Tags</b></p>
    <mat-table [dataSource]="data.provisionedNetwork.tags" class="bg-gray-100">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Key </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{ tag.name }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef> Value </mat-header-cell>
        <mat-cell *matCellDef="let tag"> {{ tag.description }} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="tagsColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: tagsColumns"></mat-row>
    </mat-table>
  </div>
</div>
