provisioned_host {{ $.Host.ID | hclstring }} {
  competition_id = {{ $.Competition.ID | hclstring }}
  environment_id = {{ $.Environment.ID | hclstring }}
  build_id       = {{ $.Build.ID | hclstring }}
  team_id        = {{ $.Team.ID | hclstring }}
  network_id     = {{ $.Network.ID | hclstring }}
  host_id        = {{ $.Host.ID | hclstring }}
  revision       = {{ $.Build.Revision }}
  active         = "${host_active}"
  remote_addr    = "${remote_addr}"
  local_addr     = "${local_addr}"
  resource_name  = "${resource_name}"


  {{ if $.Host.IsWindows }}
  winrm {
    remote_addr = "${remote_addr}"
    port = 5985
    https = false
    skip_verify = false
    user = "Administrator"
    password = "${password}"
  }
  {{ else }}
  ssh {
    remote_addr = "${remote_addr}"
    port = 22
    user = "root"
    identity_file = "${identity_file}"
  }
  {{ end }}
}