provisioned_host "{{ $.Host.ID }}" {
  team_id = "{{ $.Team.Name }}"
  host_id = "{{ $.Host.ID }}"

  active = "${host_active}"
  remote_addr = "${remote_addr}"

  {{ if $.Host.IsWindows }}
  winrm {
    hostname = "${remote_addr}"
    port = 5985
    https = false
    skip_verify = false
    user = "Administrator"
    password = "${password}"
  }
  {{ else }}
  ssh {
    hostname = "${remote_addr}"
    port = 22
    user = "root"
    identity_file = "${identity_file}"
  }
  {{ end }}
}