{{ define "remote_file" }}
resource "null_resource" "provision_{{ .Get "resource_name" }}_step{{ .Get "step_number" }}" {
  depends_on = [
    "google_compute_instance.{{ .Get "resource_name" }}"
  ]

  provisioner "file" {
    {{ if .Host.IsWindows }}
      connection {
        host     = "${google_compute_instance.{{ .Get "resource_name" }}.network_interface.0.access_config.0.assigned_nat_ip}"
        type     = "winrm"
        user     = "Administrator"
        timeout  = "60m"
        password = "{{ .Competition.RootPassword }}"
      }
    {{ else }}
      connection {
        host        = "${google_compute_instance.{{ .Get "resource_name" }}.network_interface.0.access_config.0.assigned_nat_ip}"
        type        = "ssh"
        user        = "root"
        timeout     = "60m"
        private_key = "${file("{{ index $.Build.Config "rel_ssh_private_key_file" }}")}"
      }
    {{ end }}

    source      = "{{ .RemoteFile.Source }}"
    destination = "{{ .RemoteFile.Destination }}"
  }
}
{{ end }}