<mat-card class="laforge-card">
  <mat-card-header *ngIf="loaded">
    <div class="env-header d-flex align-items-center justify-content-between">
      <div class="env-info w-50">
        <mat-card-title>{{ environment.Name }}</mat-card-title>
        <mat-card-subtitle>{{ environment.Description }}</mat-card-subtitle>
      </div>
      <div class="controls">
        <button mat-icon-button color="warn" aria-label="Rebuild the current environment" title="Rebuild" (click)="rebuildEnv()">
          <i class="fa fa-undo-alt text-danger"></i>
        </button>
        <button
          mat-icon-button
          color="link"
          [attr.aria-label]="selectionMode ? 'Cancel Selection' : 'Select multiple to rebuild'"
          [attr.title]="selectionMode ? 'Cancel Selection' : 'Select multiple to rebuild'"
          (click)="toggleSelectionMode()"
        >
          <i class="far text-dark" [ngClass]="selectionMode ? 'fa-times' : 'fa-check-square'"></i>
        </button>
      </div>
    </div>
    <mat-table [dataSource]="[environment]" class="bg-gray-100">
      <ng-container matColumnDef="TeamCount">
        <mat-header-cell *matHeaderCellDef> # Teams </mat-header-cell>
        <mat-cell *matCellDef="let env"> {{ env.TeamCount }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="AdminCIDRs">
        <mat-header-cell *matHeaderCellDef> Admin CIDRs </mat-header-cell>
        <mat-cell *matCellDef="let env"> {{ env.AdminCIDRs.join(', ') }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="ExposedVDIPorts">
        <mat-header-cell *matHeaderCellDef> Exposed VDI Ports </mat-header-cell>
        <mat-cell *matCellDef="let env"> {{ env.ExposedVDIPorts.join(', ') }} </mat-cell>
      </ng-container>
      <ng-container matColumnDef="maintainer">
        <mat-header-cell *matHeaderCellDef> Maintainer </mat-header-cell>
        <mat-cell *matCellDef="let env"> {{ env.maintainer.name }} <{{ env.maintainer.email }}> </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
    </mat-table>
  </mat-card-header>
  <mat-card-content *ngIf="loaded">
    <app-team *ngFor="let team of environment.build.teams" [team]="team" [selectable]="selectionMode"></app-team>
  </mat-card-content>
  <mat-card-content *ngIf="!loaded"> Environment loading... </mat-card-content>
</mat-card>
