::ng-deep .mat-card-header {
  align-items: flex-start;
  justify-content: space-between;
}

::ng-deep .mat-card-content {
  display: flex !important;
  flex-direction: column;
  // flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-start;
}

app-team {
  width: 100%;
}

::ng-deep .team {
  margin-bottom: 2rem;
  width: 100%;
  // flex: 1 1 40%;
}
