<mat-card class="laforge-card">
   <mat-card-header>
         <mat-card-title>Manage</mat-card-title>
         <mat-card-subtitle>Manage your environment and all of it's networks/hosts</mat-card-subtitle>
     <mat-card-title-group>
         <mat-card-subtitle><b>Name:</b> {{environment.Name}}</mat-card-subtitle>
         <mat-card-subtitle><b>Description:</b> {{environment.Description}}</mat-card-subtitle>
         <mat-card-subtitle><b>Maintainer:</b> {{environment.maintainer.name}} &lt;{{environment.maintainer.email}}&gt;</mat-card-subtitle>
     </mat-card-title-group>
   </mat-card-header>
   <mat-card-content>
     <app-team *ngFor="let team of environment.build.teams" [team]="team"></app-team>
   </mat-card-content>
 </mat-card>