.git-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

::ng-deep .mat-form-field .mat-form-field-wrapper div.mat-form-field-subscript-wrapper {
  margin-top: 0.25rem !important;
}

::ng-deep mat-card.laforge-card {
  min-width: 51%;
}
