<link rel=stylesheet href="/assets/errors/alert.css">
<div class=red-alert>
   <div class="shape-wide-contain normal">
      <div class=shape-wide>
         <div class=shape-wide-hide></div>
      </div>
      <div class="shape-bars-cover normal"></div>
   </div>
   <div class="shape-bars normal">
      <div class=bar>
         <div class=shape></div>
      </div>
      <div class=bar>
         <div class=shape></div>
      </div>
      <div class=bar>
         <div class=shape></div>
      </div>
      <div class=bar>
         <div class=shape></div>
      </div>
      <div class=bar>
         <div class=shape></div>
      </div>
   </div>
   <div class="shape-side normal"></div>
   <div class=text>
      <span class=large>ERROR</span>
      <span class=small>404: NOT FOUND</span>
   </div>
   <div class=text-background></div>
   <div class="shape-side rotate"></div>
   <div class="shape-wide-contain rotate">
      <div class=shape-wide>
         <div class=shape-wide-hide></div>
      </div>
   </div>
   <div class="shape-bars-cover opposite"></div>
   <div class="shape-bars rotate">
      <div class=bar>
         <div class=shape></div>
      </div>
      <div class=bar>
         <div class=shape></div>
      </div>
      <div class=bar>
         <div class=shape></div>
      </div>
      <div class=bar>
         <div class=shape></div>
      </div>
      <div class=bar>
         <div class=shape>
      </div>
   </div>
</div>
</div>
<!--[if lte IE 9]>
   <div id="ie9-message">IE 10+, Chrome, Firefox or Safari recommended to view CSS animations.</div>
<![endif]-->
<script src=alert.js></script>
