// DEFAULT LAFORGE BASE COMPETITION CONFIGURATION


// Import all base modules
include {
  path = "./config/*.laforge"
}

include {
  path = "./scripts/*.laforge"
}

include {
  path = "./commands/*.laforge"
}

include {
  path = "./hosts/*.laforge"
}

include {
  path = "./networks/*.laforge"
}

include {
  path = "./identities/*.laforge"
}

include {
  path = "./files/*.laforge"
}

//
// Declare Competition
competition "{{ $.ID }}" {
  root_password = "{{ $.RootPassword }}"

  dns "{{ $.DNS.ID }}" {
    type = "{{ $.DNS.Type }}"

    root_domain = "{{ $.DNS.RootDomain }}"

    dns_servers = [
      {{ range $_, $srv := $.DNS.DNSServers -}}
      "{{ $srv }}",
      {{ end -}}
    ]

    ntp_servers = [
      {{ range $_, $srv := $.DNS.NTPServers -}}
      "{{ $srv }}",
      {{ end -}}
    ]
  }

  remote "{{ $.Remote.ID }}" {
    type = "{{ $.Remote.Type }}"

    region = "{{ $.Remote.Region }}"

    key = "{{ $.Remote.Key }}"
    secret = "{{ $.Remote.Secret }}"

    state_bucket = "{{ $.Remote.StateBucket }}"
    storage_bucket = "{{ $.Remote.StorageBucket }}"
  }
}