
include {
  path = "../../base.laforge"
}

// declare a unique ID in the object initialization
environment "{{ $.ID }}" {

  competition_id = {{ $.CompetitionID | hclstring }}
  name = {{ $.Name | hclstring }}
  description = {{ $.Description | hclstring }}
  team_count = {{ $.TeamCount }}
  builder = {{ $.Builder | hclstring }}

  {{- if gt (len $.ExposedVDIPorts) 0 }}
  vdi_allowed_tcp_ports = [
    {{ range $_, $x := $.ExposedVDIPorts -}}
    "{{ $x }}",
    {{ end -}}
  ]
  {{- end }}

  config = {
    {{ range $key, $val := $.Config -}}
    {{ $key }} = "{{ $val }}"
    {{ end -}}
  }

  {{ range $net, $hosts := $.HostByNetwork -}}
  // included_network "{{ $net }}" {
  //   included_hosts = [
      {{ range $_, $h := $hosts -}}
  //     "{{ $h.ID }}",
      {{ end -}}
  //   ]
  // }
  {{ end -}}


  tags = {
    {{ range $key, $val := $.Tags -}}
    {{ $key }} = "{{ $val }}"
    {{ end -}}
  }

  maintainer "{{ $.Maintainer.ID }}" {
    name = "{{ $.Maintainer.Name }}"
    email = "{{ $.Maintainer.Email }}"
  }
}
