// DEFAULT LAFORGE COMPETITION ENVIRONMENT CONFIGURATION

// Import base modules
include {
  path = "../../base.laforge"
}

// declare a unique ID in the object initialization
environment "{{ $.ID }}" {

  // describe your env
  name = "{{ $.Name }}"
  description = "{{ $.Description }}"

  // Number of teams you want run in this environment
  team_count = {{ $.TeamCount }}

  // this setting determines what type of provisioning will occur (aws, vagrant, native)
  builder = "{{ $.Type }}"

  // based on your type, you likely will have type-specific configuration values here
  config = {
    {{ range $key, $val := $.Config -}}
    {{ $key }} = "{{ $val }}"
    {{ end -}}
  }


  // INCLUDING NETWORKS AND HOSTS IN YOUR ENVIRONMENT
  // simply declare these included_network blocks within your environment block.

  {{ range $net, $hosts := $.HostByNetwork -}}
  // included_network "{{ $net }}" {
  //   included_hosts = [
      {{ range $_, $h := $hosts -}}
  //     "{{ $h.ID }}",
      {{ end -}}
  //   ]
  // }

  {{ end -}}



  // you can tag your environment as well
  tags = {
    {{ range $key, $val := $.Tags -}}
    {{ $key }} = "{{ $val }}"
    {{ end -}}
  }


  // and define any variables you might
  vars = {
    {{ range $key, $val := $.Vars -}}
    {{ $key }} = "{{ $val }}"
    {{ end -}}
  }


  // just like with other types, you can specify a conflict strategy here (read the docs!)
  on_conflict {
    do = "{{ $.OnConflict.Do }}"
    append = {{ $.OnConflict.Append }}
  }


  // maintainer is completely optional, but note team organization!
  maintainer "{{ $.Maintainer.ID }}" {
    name = "{{ $.Maintainer.Name }}"
    email = "{{ $.Maintainer.Email }}"
  }
}