host "{{ $.ID }}" {

  hostname = "{{ $.Hostname }}"
  {{- if gt (len $.Description) 0 }}
  description = "{{ $.Description }}"
  {{- end }}
  os = "{{ $.OS }}"
  {{- if gt (len $.AMI) 0 }}
  ami = "{{ $.AMI }}"
  {{- end }}
  last_octet = {{ $.LastOctet }}
  instance_size = "{{ $.InstanceSize }}"
  {{- if $.AllowMACChanges }}
  allow_mac_changes = "{{ $.AllowMACChanges }}"
  {{- end }}

  disk {
    size = {{ $.Disk.Size }}
  }

  {{- if gt (len $.OverridePassword) 0 }}
  override_password = "{{ $.OverridePassword }}"
  {{- end }}
  {{- if gt (len $.ProvisionSteps) 0 }}
  provision_steps = [
    {{ range $_, $x := $.ProvisionSteps -}}
    "{{ $x }}",
    {{ end -}}
  ]
  {{- end }}
  {{- if gt (len $.ExposedTCPPorts) 0 }}
  exposed_tcp_ports = [
    {{ range $_, $x := $.ExposedTCPPorts -}}
    "{{ $x }}",
    {{ end -}}
  ]
  {{- end }}
  {{- if gt (len $.ExposedUDPPorts) 0 }}
  exposed_udp_ports = [
    {{ range $_, $x := $.ExposedUDPPorts -}}
    "{{ $x }}",
    {{ end -}}
  ]
  {{- end }}
  {{- if ne $.OnConflict.Do "default" }}
  on_conflict {
    do = "{{ $.OnConflict.Do }}"
    append = {{ $.OnConflict.Append }}
  }
  {{- end }}
  {{- if or (ne $.IO.Stdin "") (ne $.IO.Stdout "") (ne $.IO.Stderr "")}}
  io {
    {{- if ne $.IO.Stdin "" }}
    stdin = "{{ $.IO.Stdin }}"
    {{- end }}
    {{- if ne $.IO.Stdout "" }}
    stdout = "{{ $.IO.Stdout }}"
    {{- end }}
    {{- if ne $.IO.Stderr "" }}
    stderr = "{{ $.IO.Stderr }}"
    {{- end }}
  }
  {{- end }}
  {{- if gt (len $.Vars) 0 }}
  vars = {
    {{ range $key, $val := $.Vars -}}
    {{ $key }} = "{{ $val }}"
    {{ end -}}
  }
  {{- end }}
  {{- if gt (len $.Tags) 0 }}
  tags = {
    {{ range $key, $val := $.Tags -}}
    {{ $key }} = "{{ $val }}"
    {{ end -}}
  }
  {{- end }}

  maintainer "{{ $.Maintainer.ID }}" {
    name = "{{ $.Maintainer.Name }}"
    email = "{{ $.Maintainer.Email }}"
  }
}
