include {
  path = "./networks/*/*.laforge"
}

team {{ $.ID | hclstring }} {
  team_number = {{ $.TeamNumber }}
  revision = {{ $.Revision }}

  on_conflict {
    do = "panic"
    append = false
  }

  config = {
    {{ range $key, $val := $.Config -}}
    {{ $key }} = {{ $val | hclstring }}
    {{ end -}}
  }

  tags = {
    {{ range $key, $val := $.Tags -}}
    {{ $key }} = {{ $val | hclstring }}
    {{ end -}}
  }
}