
include {
  path = "./*/*.laforge"
}

team {{ $.ID | hclstring }} {
  team_number = {{ $.TeamNumber }}
  build_id = {{ $.BuildID | hclstring }}
  environment_id = {{ $.EnvironmentID | hclstring }}
  competition_id = {{ $.CompetitionID | hclstring }}
  revision = {{ $.Revision }}

  on_conflict {
    do = "panic"
    append = false
  }

  config = {
    {{ range $key, $val := $.Config -}}
    {{ $key }} = {{ $val | hclstring }}
    {{ end -}}
  }

  tags = {
    {{ range $key, $val := $.Tags -}}
    {{ $key }} = {{ $val | hclstring }}
    {{ end -}}
  }

  maintainer "{{ $.Maintainer.ID }}" {
    name = "{{ $.Maintainer.Name }}"
    email = "{{ $.Maintainer.Email }}"
  }
}