resource "aws_instance" "{{ .Name }}" {
  ami = "{{ .AMI }}"
  instance_type = "{{ .InstanceType }}"
  subnet_id = "${aws_subnet.{{ .Subnet.Name }}.id}"
  key_name = "${aws_key_pair.{{ .KeyPair.Name }}.key_name}"
  private_ip = "{{ .PrivateIP }}"
  associate_public_ip_address = {{ .AssociatePublicIPAddress }}

  vpc_security_group_ids = [
    {{range .SecurityGroups}}
      "${aws_security_group.{{.Name}}.id",
    {{end}}
  ]

  user_data = {{ .UserDataScript.TFTemplate.Rendered }}
  
  {{ .Connection.TFTemplate.Rendered }}
  
  {{range .FileProvisioners}}
    {{.TFTemplate.Rendered}}
  {{end}}

  {{range .InlineProvisioners}}
    {{.TFTemplate.Rendered}}
  {{end}}

  {{range .ScriptProvisioners}}
    {{.TFTemplate.Rendered}}
  {{end}}
}