resource "aws_internet_gateway" "{{ .Name }}_igw" {
  vpc_id = "${aws_vpc.{{.VPC.Name}}.id}"
}

resource "aws_nat_gateway" "{{ .Name }}._natgw" {
  allocation_id = "${aws_eip.{{.ElasticIP.Name}}.id}"
  subnet_id     = "${aws_subnet.{{.Subnet.Name}}.id}"

  depends_on = ["aws_internet_gateway.{{ .Name }}_igw"]
}