<!--begin::Header-->
<ng-container>
  <div class="d-flex flex-column pt-12 bg-dark-o-5 rounded-top">
    <!--begin::Title-->
    <h4 class="d-flex flex-center">
      <span class="text-dark">Messages</span>
      <span
        class="btn btn-text btn-primary btn-sm font-weight-bold btn-font-md ml-2"
        >XX new</span
      >
    </h4>
    <!--end::Title-->
  </div>
</ng-container>


<!--begin::Alerts-->
<div
  class="navi navi-hover scroll my-4"
  data-scroll="true"
  style="position: relative; max-height: 300px;"
  perfectScrollbar
>
  <!--begin::Item-->
  <a href="#" class="navi-item">
    <div class="navi-link">
      <div class="navi-icon mr-2">
        <i class="fa fa-starship text-success"></i>
      </div>
      <div class="navi-text">
        <div class="font-weight-bold">
          New report has been received
        </div>
        <div class="text-muted">
          23 hrs ago
        </div>
      </div>
    </div>
  </a>
  <!--end::Item-->
</div>
<!--end::Alerts-->
