<!--begin::Header-->
<ng-container>
  <div class="d-flex flex-column pt-6 bg-gray-600 rounded-top">
    <!--begin::Title-->
    <h4 class="d-flex flex-center">
      <span class="text-white">Messages</span>
      <span
        class="btn btn-text btn-primary btn-sm font-weight-bold btn-font-md ml-2"
        >2 new</span
      >
    </h4>
    <!--end::Title-->
  </div>
</ng-container>


<!--begin::Alerts-->
<div
  class="navi navi-hover scroll my-4"
  data-scroll="true"
  style="position: relative; max-height: 300px;"
  perfectScrollbar
>
  <!--begin::Item-->
  <a href="#" class="navi-item">
    <div class="navi-link">
      <div class="navi-icon mr-2">
        <i class="fad fa-hammer text-success"></i>
      </div>
      <div class="navi-text">
        <div class="font-weight-bold">
          Build of 'test-win-vdi' has been completed.
        </div>
        <div class="text-muted">
          3 hrs ago
        </div>
      </div>
    </div>
  </a>
  <!--end::Item-->
  <!--begin::Item-->
  <a href="#" class="navi-item">
    <div class="navi-link">
      <div class="navi-icon mr-2">
        <i class="fad fa-code-branch text-warning"></i>
      </div>
      <div class="navi-text">
        <div class="font-weight-bold">
          A new branch 'lm-test-ad' has been created.
        </div>
        <div class="text-muted">
          7 hrs ago
        </div>
      </div>
    </div>
  </a>
  <!--end::Item-->
</div>
<!--end::Alerts-->
